* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-image: url(../images/xLZrFev.webp);
  background-size: fit-content;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.pokedex {
  background-image: url(../images/5818315.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 590px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemon-name {
  position: relative;
  top: 270px;
}

.pokemon-pic {
  position: relative;
  top: 200px;
}

.pokemon-list-container {
  display: block;
  position: relative;
  top: 214px;
  padding-bottom: 455px;
  width: 564px;
  left: 263px;
}

img {
  margin-top: 60px;
  width: 300px;
  height: 300px;
}

button {
  background: none;
  border: none;
  border-bottom: 2px solid #1ec3dd;
  height: 37px;
  width: 98px;
  margin-right: 8px;
  text-transform: capitalize;
}

button:hover {
  background: #1ec3dd;
}

.next {
  margin-left: 330px;
}

p {
  position: relative;
  top: 200px;
  right: 30px;
  text-transform: capitalize;
}

h2{
  text-transform: capitalize;
}
